/* Autores Obligatorio Santiago Menendez Nro.(262188) y Paula Poli Nro.(290343) */

#container-header {
  background: #e89c6c;
  text-align: center;
  margin-bottom: 20px;
}

.container-trivia-imagen {
  display: inline-block;
  margin-bottom: 10px;
}

.container-trivia-imagen img {
  width: 200px;
}

.container-botones a {
  padding: 15px 20px 0 10px;
}

#container-descripcion-general {
  background: #f6f1db;
  margin-bottom: 20px;
}

.descripcion-general-titulo {
  text-align: center;
  padding: 2px 0 2px 0;
  box-shadow: 0px 1px 5px #e9e4ce;
  border-radius: 5px;
}

.descripcion-general-subtitulo {
  text-align: center;
}

.descripcion-general-imagenes {
  display: inline;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  padding: 10px;
}

.descripcion-general-parrafo {
  display: inline;
  vertical-align: middle;
  margin: 0 20px 0 20px;
}

#container-gestion-temas {
  background: #ffd388;
  padding-bottom: 20px;
}


.container-gestion-temas-titulo {
  text-align: center;
  padding: 2px 0 2px 0;
  box-shadow: 0px 1px 5px #f6ca81;
  border-radius: 5px;
}

.gestion-temas-subtitulo {
  text-align: center;
}

.container-gestion-temas-input {
  display: inline-block;
}

.gestion-temas-input {
  margin-right: 100px;
}

#container-gestion-preguntas {
  background: #ffd388;
  margin-bottom: 20px;
}

.container-gestion-preguntas-titulo {
  text-align: center;
  padding: 2px 0 2px 0;
  box-shadow: 0px 1px 5px #f6ca81;
  border-radius: 5px;
}

.gestion-preguntas-subtitulo {
  text-align: center;
}

.tema {
  margin-right: 120px;
}

.nivel {
  margin-right: 110px;
}

.container-gestion-preguntas-input-1 select{
  width: 177px;
}

.container-gestion-preguntas-input-2 label {
  margin-right: 25px;
}

.tabla {
  border: 2px solid black;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 100px;
}

.tabla th {
  border: 1px solid black;
  background-color: #f4eff2;
}

#contenedor-Ajugar {
  background-color: #fddac6
}

.titulo-ajugar {
  text-align: center;
  padding: 2px 0 2px 0;
  box-shadow: 0px 1px 5px #f3d0bc;
  border-radius: 5px;
}

.contenedor-ajugar-subtitulo {
  text-align: center
}

.contenedor-config-juego {
  display: inline-block;
}

#temaAElegir {
  width: 177px;
  margin-left: 50px;
}

#nivelDelJuego {
  width: 50px;
  margin-left: 70px;
}

.contenedor-texto-de-la-pregunta {
  display: inline-block;
  background-color: #e87c24;
  color: white;
  border: 2px solid white;
  width: 90%;
  padding: 10px 0 10px 0;
  margin-bottom: 25px;
}

.contenedor-pregunta-respuesta {
  text-align: center;
}

.contenedor-respuestas {
  margin-bottom: 35px;
}

.contenedor-3-botones {
  margin-bottom: 20px;
}

.contenedor-respuestas input {
  background-color: #e87c24;
  border: 2px solid white;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-right: 15px;
}